body{
    font-family: 'Montserrat', sans-serif;
    /* margin: 0; */
    margin: 0 !important;
}
.top{
    display: flex;
    margin: 10px 10px;
    margin-bottom: 100px;
}
.middle{
    padding-top: 10px;
    display: flex;
    background-image: url("/images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
    line-height: 78px;
    font-style: normal; 
    font-weight: 700;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img {
    width: 100%;
}
.orange-color{
    color: orange;
}
.link-button{
    Padding: 24px 32px;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    background-color: orange;
    text-decoration: none;
    color: white;
    border-radius: 100px;
    font-weight: 600px;
}
.top p{
    margin-bottom: 50px;
}
#second-image{
    width: 338px;
    height: 536px;
    top: 64px;
    left: 198px;
}
#size_image{
    padding-top: 64px;
    padding-left: 198px;
    width: 338px;
    height: 536px;
}
#size_div{
    padding-top: 120px;
}
#middle-para{
    margin-bottom: 100px;
}
#bottom-p{
    text-align: center;
    padding-top: 30px;
    padding-left: 315px;
    padding-right: 315px;
    width: 706px;
    height: 69px;
}
.bottom-h2{
    text-align: center;
}
.food-name{
    padding-left: 5%;
    padding-right: 5%;
}
#bottom-main-div{
    display: flex;
}
.one-third-width{
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
} 
.one-third-width img{
    width: 90%;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
}
.one-third-width p{
    width: 300px;
    padding-left: 5%;
    padding-right: 5%;
}
#footer{
    background-color: black;
    height: 256px;
    margin-top: 100px;
}
#footer-h2{
    color: white;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 37px;
}
#footer-p{
    color: white;
    text-align: center;
}
#header{
    height: 156px;
    padding-bottom: 100px;
    padding-top: 10px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}
#header-h2{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#header-p{
    color: white;
    font-size: larger;
    text-align: center;
}
